@use '../../../../../utils/styles/variables' as *;

.category-edit {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__input {
    padding: 0.6rem 0.8rem;
    font-family: $font-jetbrains-text;
    font-size: $font-size-content-m;
    color: $primary-white;
    background-color: $medium-black;
    border: 1px solid $dark-grey;
    border-radius: 4px;

    &:focus {
      outline: none;
      border-color: $primary-yellow;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
}
