@use '../../../../../utils/styles/variables' as *;

.category-edit {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
}
