@use '../../../../utils/styles/variables' as *;

.search_input {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  width: 100%;
  max-width: 580px;
  padding: 0.6rem 1rem;
  background: $dark-grey;
  border: 1px solid $primary-grey;
  border-radius: 6px;
  transition: border-color 0.2s ease;

  &:focus-within {
    border-color: $dark-white;
  }

  &_icon {
    color: $primary-grey;
    flex-shrink: 0;
  }

  &_field {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: $primary-white;
    font-family: $font-jetbrains-text;
    font-size: $font-size-content-m;

    &::placeholder {
      color: $primary-grey;
    }
  }
}
