@use 'sass:map';
@use '../../../utils/styles/variables' as *;

.legal_doc {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &_header {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $light-black;

    &_title {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &_body {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    &_section {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      p {
        line-height: 1.7;
        color: $dark-white;
      }
    }
  }

  @media (max-width: map.get($breakpoints, 'tablet')) {
    padding: 2rem 1.5rem;
    gap: 2rem;
  }
}
