@use '../../../utils/styles/variables' as *;

.global_text {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  align-items: center;
}

.text_h1 {
  font-family: $font-bebas-title;
  font-size: 38px;
  letter-spacing: 4px;

  &_jtb {
    font-family: $font-jetbrains-text !important;
    font-size: 38px;
    font-weight: 700;
  }
}
.text_h2 {
  font-family: $font-bebas-title;
  font-size: 28px;
  letter-spacing: 2px;

  &_jtb {
    font-family: $font-jetbrains-text !important;
    font-size: 28px;
    font-weight: 700;
  }
}
.text_h3 {
  font-family: $font-bebas-title;
  font-size: 20px;
  letter-spacing: 1px;

  &_jtb {
    font-family: $font-jetbrains-text !important;
    font-size: 22px;
    font-weight: 700;
  }
}
.text_h4 {
  font-family: $font-bebas-title;
  font-size: 16px;

  &_jtb {
    font-family: $font-jetbrains-text !important;
    font-size: 16px;
    font-weight: 700;
  }
}
.text_p {
  font-family: $font-liter-text;
  font-size: 14px;

  &_jtb {
    font-family: $font-jetbrains-text !important;
    font-size: 14px;
    font-weight: 400;
  }
}

.color_dark,
.color_black {
  color: $primary-black;
}
.color_white {
  color: $primary-white;
}
.color_yellow {
  color: $primary-yellow;
}
.color_red {
  color: $primary-red;
}
.color_grey {
  color: $primary-grey;
}
