@use '../../../utils/styles/variables' as *;

.status-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border-radius: 20px;

  &--pending {
    background-color: $primary-yellow;
  }
  &--validated {
    background-color: $primary-green;
  }
  &--open {
    background-color: $primary-green;
  }
  &--cancel {
    background-color: $primary-red;
  }
  &--close {
    background-color: $primary-red;
  }
}
