@use '../../../utils/styles/variables' as *;

.form-input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  &__field {
    padding: 0.6rem 0.8rem;
    font-family: $font-liter-text;
    font-size: $font-size-content-m;
    color: $primary-white;
    background-color: $medium-black;
    border: 1px solid $dark-grey;
    border-radius: 4px;

    &:focus {
      outline: none;
      border-color: $primary-yellow;
    }

    &:disabled {
      opacity: 0.6;
    }
  }
}
