@use 'sass:map';
@use '../../../../utils/styles/variables' as *;

.configuration-edit {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 2rem;

    @media (max-width: map.get($breakpoints, 'mobile')) {
      grid-template-columns: 1fr;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
}
