@use '../../../../utils/styles/variables' as *;

.modal {
  &_title {
    font-size: $font-size-title-s;
    margin-bottom: 1rem;
  }

  &_message {
    color: $primary-grey;
    margin-bottom: 2rem;
  }

  &_footer {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 1rem;
  }
}
