@use '../../../../../utils/styles/variables' as *;

.user-edit {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 2rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
}
