@use '../../../utils/styles/variables' as *;

.backoffice-value {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__content {
    padding: 0.6rem 0.8rem;
    background-color: $medium-black;
    border: 1px solid $dark-grey;
    border-radius: 4px;
  }
}
