@use '../../../../utils/styles/variables' as *;
@use 'sass:map';

.profile_form {
  flex: 1;
  display: flex;
  flex-direction: column;

  &_fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8%;

    & > div {
      width: 46%;
      margin-bottom: 3rem;
    }
  }

  &_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: map.get($breakpoints, 'mobile')) {
  .profile_form {
    &_fields {
      flex-direction: column;

      & > div {
        width: 100%;
      }
    }
  }
}
